* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* border-bottom: 1px rgba(209, 209, 209, 0.795) solid; */
  box-shadow: 1px 1px 2px 1px rgba(113, 113, 113, 0.21);
  background-color: white;
  z-index: 5;
}

.nav-container {
  margin: 0 auto;
  width: 1300px;
  padding: 5px 0;
}

.nav-container li {
  display: inline-block;
  vertical-align: middle;
}

.nav-left-part {
  width: 20%;
}


.nav-left-part a:hover {
  text-decoration: underline;
}

.nav-left-part a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.nav-left-part li {
  padding: 0 10px;
}

.nav-center {
  width: 60%;
  height: 30px;
}

.nav-center a {
  width: 100%;
  display: inline-block;
}

.nav-center svg {
  transform: translateX(calc( 50% + 200px ));
}

.nav-right-part {
  width: 19%;
}

button {
  padding: 8px;
  font-size: 12px;
  border: 1px solid rgba(55, 90, 124, 0.822);
  font-weight: 600;
  background-color: #547C93;
  color: white;
  border-radius: 4px;
}

main {
  margin-top: 80px;
}

.article-header {
  padding-right: 12%;
  padding-left: 12%;
}

.article-header h1 {
  font-size: 35px;
  width: 400px;
  margin-left: 20%;
  margin-bottom: 20px;
  font-style: italic;
}

.article-header img {
  width: 100%;
}

.article-header p {
  width: 75%;
  font-size: 15px;
}

.credit-caption {
  color: rgb(156, 156, 156);
  font-size: 14px;
  font-weight: 300;
}

article {
  padding: 30px 25%;
  position: relative;
}

.author-name {
  display: inline-block;
  font-weight: 600;
  padding: 20px 0;
}

.author-name a:hover {
  text-decoration: none;
}

.author-name a {
  color: black;
}

.author-details {
  padding: 20px 0;
  margin-bottom: 40px;
}

.article-date {
  float: left;
  position: relative;
  top: 10px;
}

.social-media-icons li {
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}

.social-media-icon svg {
  width: 28px;
  background-color: rgb(233, 233, 233);
  height: 28px;
  border-radius: 50%;
  padding: 7px;
  cursor: pointer;
}

.social-media-icon svg:hover {
  border: 1px solid rgb(173, 173, 173);
  background-color: white;
}

.social-media-icons {
  float: right;
}

.chat{
  position: relative;
}

.views {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 8px;
}

.reading {
  clear: both;
  font-size: 22px;
}

.reading a {
  color: #326891;
}

.login-suggestion hr {
  width: 10%;
  border:0;
  background-color: rgba(190, 190, 190, 0.753);
  height: 1px;
  margin: 15px auto;
}

.login-suggestion {
  font-weight: 600;
}

.login-suggestion p {
  text-align: center;
}

.login-suggestion a {
  color: rgb(50, 104, 145);
  text-decoration: none;
}

.login-suggestion {
  margin-bottom: 30px;
}

.in-parragraph-heading {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
}

#editors-picks {
  position: absolute;
  width: 250px;
  top: 50%;
  right: 20px;
}

.epick-header {
  display: inline-block;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}

.picks {
  padding-top: 8px;
  padding-bottom: 8px;
}

.picks li {
  display: inline-block;
  vertical-align: top;
}

.picks li:first-child {
  width: 30%;
}

.picks li:last-child {
  width: 60%;
}

.picks img {
  width: 100%; 
  padding-right: 8px;
}

.picks span {
  display: inline-block;
}

.picks a {
  text-decoration: none;
  color: black;
}

.picks a:hover {
  text-decoration: underline;
}

.picks-collection {
  padding-top: 15px;
  border-top: 1px solid rgba(187, 187, 187, 0.466);
}

.infographics {
  padding: 0 14%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.infographics > h3 {
  padding-bottom: 20px;
}

.infographics > p {
  color: #666;
  padding-bottom: 20px;
}

.image-container img {
  width: 100%;
  margin: 0 auto;
}

.image-container {
  position: relative;
  width: 940px;
  margin: 20px auto;
}

.graphic-desc {
  width: 220px;
  line-height: 20px;
  font-size: 12px;
}

.first {
  position: absolute;
  top: 140px;
  left: 0;
}

.second {
  position: absolute;
  top: 140px;
  left: 240px;
}

.third {
  position: absolute;
  top: 140px;
  left: 480px;
}

.fourth {
  position: absolute;
  top: 140px;
  left: 720px;
}

.fifth {
  position: absolute;
  top: 430px;
  left: 0;
}

.sixth {
  position: absolute;
  top: 430px;
  left: 240px;
}

.seventh {
  position: absolute;
  top: 430px;
  left: 480px;
}

.eigth {
  position: absolute;
  top: 430px;
  left: 720px;
}

.image-bottom {
  width: 100px;
  background-color: black;
  border: 0;
  height: 1px;
  margin-bottom: 20px;
}

.infographics .writer {
  color: black;
  font-size: 14px;
}

.video-youtube {
  width: 100%;
}

.caption {
  color: #666;
  margin-top: 6px;
  width: 80%
}

.in-article-img {
  width: 100%;
}

.ending-article {
  color: rgb(102, 102, 102);
  font-size: 13px;
}

.ending-article a:hover {
  text-decoration: none;
}

.ending-article a {
  color : rgb(102, 102, 102);
}

.article-comments {
  margin-top: 25px;
}

.article-comments button {
  padding: 10px 80px;
}

.feature-stories {
  width: 1200px;
  margin: 0 auto;
}

.more-suggestions {
  float: left;
  width: 70%;
  
}

.feature-stories aside {
  float: left;
  width: calc(30% - 30px);
  margin: 0 15px;
  border-top: 1px solid black;
}

.feature-stories aside h3 {
  padding: 15px 0;
}

.feature-stories aside a {
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgb(204, 204, 204);
  color: black;
  font-weight: 500;
}

.feature-stories aside a:hover {
  color: rgb(104, 104, 104);
}

.article-container {
  width: calc((100%/3) - 40px/3);
  margin-bottom: 25px;
  float: left;
  height: 300px;
}

.article-container img {
  width: 100%;
}

.suggestion-section {
  border-top: 1px solid black;
  clear: both;
}

.suggestion-section h3 {
  padding: 15px 0;
}

.article-author {
  font-size: 10px;
  color: #666;
  float: right;
}

.article-title {
  display: inline-block;
  clear: both; 
  font-size: 18px;
  margin-top: 5px;
}

.creation-date {
  font-size: 12px;
  color: #666;
  float: left;
  display: block;
  margin-top: 10px;
}

.middle {
  margin: 0 20px;
}

footer {
  width: 1200px;
  clear: both;
  margin: 0 auto;
}

footer hr {
  height: 3px;
  margin: 20px 0;
  border-radius: none;
}

footer > a {
  float: left;
}

.home-link {
  float: right;
  color: #326891;
  font-size: 12px;
  text-decoration: none;
}

.home-link span {
  font-size: 8px;
}

.site-navigation {
  clear: both;
  margin-top: 70px;
}

.navigations {
  float: left;
  width: calc(100% / 6);
}

.navigations li {
  list-style-type: none;
  line-height: 25px;
}

.navigations a {
  text-decoration: none;
  color: black;
}

.navigations a:hover {
  text-decoration: underline;
}

.navigations svg {
  width: 15px;
}

.navigations h3 {
  font-size: 18px;
  display: inline-block;
}

.navigations h3:hover {
  text-decoration: underline;
}